*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --bodybg: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);

    --Brown800: hsl(14, 45%, 36%);

    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bodybg);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--Stone600);
}

main {
    display: flex;
    justify-content: center;
    padding: 6%;
}

article {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 740px;
    border-radius: 25px;
}

figure,
header,
.prep-time,
.ingredients,
.instructions,
.nutrition {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

figure {
    margin-top: 6%;
    margin-bottom: 0;
}

.banner {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: clip;
}

header {
    margin-top: 0;
}

h1 {
    /*margin-top: 0.8rem;*/
    margin-bottom: 0.8rem;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--Stone900);
}

h2 {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    color: var(--Brown800);
}

p {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--Stone600);
    font-size: 1rem;
}

header p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
    color: var(--Stone600);
}

ul {
    font-size: 0.8rem;
    color: var(--Brown800);
    padding-left: 1.3rem;
    line-height: 2rem;
}

ol {
    font-size: 1rem;
    color: var(--Brown800);
    padding-left: 1.3rem;
    margin-left: 0.3rem;
    font-weight: 700;
    line-height: 1.6rem;
}

li {
    padding-left: 1.3rem;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px;
    border-style: hidden;
    border-color: var(--Stone150);
    width: 88%;
    border-top-style: solid;
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
    border-bottom: hidden;
}

tr {
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--Stone150);
}

th,
td {
    text-align-last: left;
    line-height: 3rem;
}

th {
    padding-left: 2rem;
    font-weight: 400;
}

td {
    width: 50%;
    font-weight: 700;
    color: var(--Brown800);
}

footer {
    font-size: 11px;
    text-align: center;
}
footer a {
    color: hsl(228, 45%, 44%);
}

.prep-time {
    margin-top: 0.5rem;
    padding: 3.5%;
    background-color: var(--Rose50);
    border-radius: 0.8rem;
}

.prep-time h2 {
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    color: var(--Rose800);
    font-weight: 600;
    margin: 0;
}

.prep-time ul {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: var(--Rose800);
}

.prep-time p {
    color: var(--Stone600);
    margin: 0;
}

.instructions p {
    margin-bottom: 0.4rem;
}

@media (max-width: 375px) {
    body {
        font-style: normal;
        font-size: 16px;
        margin: 0;
    }
    main {
        display: flex;
        padding: 0;
    }

    article {
        display: flex;
        flex-direction: column;
        background-color: white;
        flex-basis: 100%;
        flex-grow: 1;
        border-radius: 0;
    }
    figure{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .banner{
        border-radius: 0;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .ingredients ul{
        padding-left: 0;
    }
    .ingredients li{
        max-width: 375px;
        display: flex;
        align-items: center;
    }
    .ingredients li:before{
        content: "\2022";
        margin-right: 1rem;
    }
}
